@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: "Matter-Regular";
  src: local("Matter-Regular"),
    url("./fonts/Matter-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Matter-Medium";
  src: local("Matter-medium"),
    url("./fonts/Matter-Medium.otf") format("opentype");
}


@font-face {
  font-family: "Matter-SemiBold";
  src: local("Matter-SemiBold"),
    url("./fonts/Matter-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "Matter-Bold";
  src: local("Matter-Bold"),
    url("./fonts/Matter-Bold.otf") format("opentype");
}




body {
  margin: 0;
  font-family: "Matter-Regular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  color: #fff;
}

h1{
  font-family: "Matter-Bold", sans-serif;
}

.nav-link{
  font-family: "Matter-SemiBold", sans-serif;
}
